input.ng-dirty.ng-invalid {
  border: 1px solid red;
}

.invalidCredentials{
  color: red;
}



#login-box
{
  position: relative;
  margin: 5% auto;
  height: 400px;
  width: 450px;
  background: #fff;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.6);
}

.left-box
{
  position: absolute;
  top: 0;
  left: 0;
  box-sizing: border-box;
  padding: 40px;
  width: 450px;
  height: 400px;
}

h1
{
  margin: 0 0 20px 0;
  font-weight: 300;
  font-size: 28px;
}

input[type="text"],
input[type="password"]
{
  display: block;
  box-sizing: border-box;
  padding: 4px;
  width: 220px;
  height: 32px;
  border: none;
  outline: none;
  border-bottom: 1px solid #aaa;
  font-family: sans-serif;
  font-weight: 400;
  font-size: 15px;
  transition: 0.2s ease;
}

button
{
  margin-bottom: 28px;
  width: 120px;
  height: 32px;
  background: #f44336;
  border: none;
  border-radius: 2px;
  color: #fff;
  font-family: sans-serif;
  font-weight: 500;
  text-transform: uppercase;
  transition: 0.2s ease;
  cursor: pointer;

}

button:hover,
button:focus
{
  background: #ff5722;
  transition: 0.2s ease;
}

