.container {
  box-shadow: rgba(0,0,0,.24) 0px 2px 2px, rgba(0,0,0,.12) 0px 0px 2px;
  border: 1px solid rgba(0,0,0,.03);
  background-color: whitesmoke;
}

form {
  display: flex;
}

table {
  align: center;
  width: 100%;
}

td {
}
